<hr>

<t-tiles>
  <t-tiles:tile>
    <h3>Status</h3>
    <p>{{contract.attributes.status}}</p>
  </t-tiles:tile>
  <t-tiles:tile>
    <h3>Facilitator</h3>
    <p>{{full-name facilitator "first-last"}}</p>
  </t-tiles:tile>
  <t-tiles:tile>
    <h3>Category</h3>
    <p>{{category.attributes.name}}</p>
  </t-tiles:tile>
  <t-tiles:tile>
    <h3>Credits</h3>
    {{credit-assignments creditAssignments=creditAssignments}}
  </t-tiles:tile>
  <t-tiles:tile>
    <h3>Term</h3>
    <p>{{term.attributes.name}}</p>
  </t-tiles:tile>
  <t-tiles:tile>
    <h3>Location</h3>
    <p>{{contract.attributes.location}}</p>
  </t-tiles:tile>
</t-tiles>

<hr>

<h2>Details</h2>

{{#if hasDetails}}
  {{#each detailSections as |section|}}
    <h3>{{titleize section.name}}</h3>
    <p>
      {{section.content}}
    </p>
  {{/each}}
{{else}}
  <p>No details specified.</p>
{{/if}}

<h3>Learning Requirements</h3>

{{contract-learning-requirements ealrs=contract.relationships.ealrs.data}}

<h2>Assignments</h2>

{{contract-assignments-summary
  assignments=assignments
}}


